<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/style.css">
    <script src="/Controllers/script.js"></script>
    <title>Página 01</title>
</head>

<body>

    <header>
        <!-- <nav class="navbar">
                <div class="hamburguer" style="display: none;">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"><span>
                </div>
        </nav> -->
        <nav class="top-bar">
            <a class="logo" href="">
                <h1>Teste</h1>
            </a>
            <div class="nav-bar">
                <ul class= "nav-links">
                    <a href=""><b>Produtos </b></a>
                    <a href=""><b>Produtos </b></a>
                    <a href=""><b>Produtos </b></a>
                </ul>
                <button class="btn-topbar"> <a href=""><b>Login</b></a></button>
                <button class="btn-topbar2"> <a href=""><b>Cadastre-se</b></a></button>
            </div>
        </nav>
    </header>

</body>

</html>